
<div class="about_page container">

  <main>
    <section>
      <h2>אודות</h2>
      <p>אני יעל, מפתחת Full Stack עם ניסיון של מעל לשנתיים וחצי בפיתוח מערכות מורכבות, אתרים ואפליקציות אינטרנט מתקדמות. אני מתמחה בטכנולוגיות עדכניות, עיצוב רספונסיבי ופתרונות מותאמים אישית המובילים לחוויית משתמש איכותית.</p>
    </section>

    <section>
      <h2>טכנולוגיות</h2>
      <ul>
        <li><strong>Frontend:</strong> Angular, React, JavaScript, SCSS, Bootstrap</li>
        <li><strong>Backend:</strong> ASP.NET, C#, NodeJS, PHP, wcf</li>
        <li><strong>Databases:</strong> SQL Server, MongoDB</li>
        <li><strong>Tools:</strong> Entity Framework, SSIS, WinForms, Umbraco, Postman</li>
      </ul>
    </section>

    <section>
      <h2>ניסיון תעסוקתי</h2>
      <p><strong>מפתחת Full Stack | Realcommerce | 2023–2025</strong><br>
      פיתוח מקצה לקצה של מערכות ואתרים עבור חברות ביטוח, כולל Angular + ASP.NET MVC, SharePoint, Entity Framework ועוד.</p>
      
      <p><strong>מפתחת Full Stack | 2all | 2022</strong><br>
      פיתוח מערכות בעולמות VB.NET ו־ASP.NET, כולל שימוש ב־AJAX, SQL Server ו־Postman.</p>

      <p><strong>מפתחת WCF | מל"ם | 2025-היום</strong><br>
      תחזוקת שירותים מבוססי WCF בסביבות Visual Studio 2022, שימוש ב־TFS ו־SSMS.</p>
    </section>

    <section>
      <h2>השכלה והכשרות</h2>
      <ul>
        <li>לימודי הנדסת תוכנה - מה"ט</li>
        <li>מסלול Ultra-Code - כולל פרויקט גמר בטכנולוגיות React, .NET, SQL Server</li>
        <li>קורסים: Angular, React, MongoDB, NodeJS</li>
        <li>השכלה תיכונית + תעודת הנהלת חשבונות 1+2</li>
      </ul>
    </section>

    <section class="contact">
      <h2>צור קשר</h2>

            <p><strong>📧 מייל:</strong> <a href="mailto:Y0556722091@gmail.com">{{email}}</a></p>
      <p>
        <a href="https://site-ahuu.onrender.com" target="_blank">אתר דמה</a> | 
        <a href="https://github.com/yaeldevelopment/website" target="_blank">קוד GitHub</a>
      </p>
    </section>
  </main>
</div>