<header>
  <div class="hamburger-menu">
      <input type="checkbox" id="menu-toggle">
      <label for="menu-toggle" class="menu-icon">
          <span></span>
          <span></span>
          <span></span>
      </label>
      <nav class="menu header_list container">

          <a id="logo" routerLink="/"><img src="https://res.cloudinary.com/dv3ucnxsv/image/upload/v1738519455/aufdhkro5av0wjnnodzc.jpg" alt="לוגו"></a>
          <ul>



              <li class="link ">
                  <a routerLink="">

                      בית
                  </a>

              </li>




          </ul>
          <ul>



              <li class="link ">
                  <a routerLink="/אתרים-לדוגמא">

                      אתרים לדוגמא
                  </a>

              </li>




          </ul>
          <ul>



              <li class="link ">
                  <a routerLink="/אודות/">

                      אודות
                  </a>

              </li>




          </ul>
          <ul>



              <li class="link ">
                  <a routerLink="/צור-קשר/">

                      צור קשר
                  </a>

              </li>




          </ul>
             <ul>



              <li class="link ">
                  <a routerLink="/מדיניות-ופרטיות/">

                      מדיניות ופרטיות
                  </a>

              </li>




          </ul>
      </nav>
  </div>
</header>
<router-outlet></router-outlet> <!-- כאן יוצגו הדפים -->
<footer>
  <p>© 2025 יעל עג'מי - כל הזכויות שמורות.</p>
</footer>
